.navbar-style {
    background-color: #ffffe0;
    overflow: hidden;
}

.navbar-style a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-style:hover {
    background-color: #ddd;
    color: black;
}

.navbar-style a.active {
    background-color: #5d00ff;
    color: white;
}