{% extends "layout.html" %}

{% block title %}
    Analytics
{% endblock %}

{% block body %}
<!--Dropdown for classes-->
<div id="selectclass">
    <form action="/analytics" method="POST">
        <div class="form-group">
            <select class="btn btn-secondary btn-lg dropdown-toggle" id="classanalytics" name="classanalytics">
                <option disabled selected>Class</option>
                {% for class in classes %}
    
                    <option value="{{ class }}"> {{ class }} </option>
    
                {% endfor %}
            </select>
        </div>
        <div>
            <button class="btn btn-primary btn-sm" type="submit">Generate Graph</button>
        </div>
    </form>
    <div>
        <canvas id="myChart" width="900" height="400"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--Generate Graph-->
    <script>
        const ctx = document.getElementById('myChart');
    
        new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ dates | safe}},
            datasets: [{
            label: 'Hours spent working on {{ class_graph }}',
            data: {{hours | safe}},
            borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
        });

    </script>
</div>

{% endblock %}