{% extends "layout.html" %}

{% block title %}
    User Home
{% endblock %}

{% block body %}
<main role="main" class="inner cover">
    <h1 class="cover-heading">Classes</h1>
    <table class="table">
        <thead>
            <th class="text-start">Class Name</th>
            <th class="text-end">Hours Spent</th>
        </thead>
        <tbody>
            {% for classes in userclasses %}
                {% for times in usertimes %}
                <tr>
                    <td class="text-start">{{ classes["name"] }}</td>
                    <td class="text-end">{{ times["total"] }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</main>
<div>
    <form action="/" method="post">
        <div class="form-group">
          <label for="classname">Add Class</label>
          <input type="text" class="form-control" id="classname" name="classname" placeholder="Class Name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}