{% extends "layout.html" %}

{% block title %}
    Timer
{% endblock %}

{% block body %}
<h1 class="cover-heading">Timer</h1>
<div class="mb-3">

    <select class="form-select mx-auto w-auto" id="class">
        <!--Dropdown for classes -->
        <option disabled selected>Class</option>
        {% for class in classes %}

            <option value="{{ class }}"> {{ class }} </option>

        {% endfor %}
    </select>

</div>
<div class="watch">
    <div class="time">
        00:00:00
    </div>
    <div class="controls">
        <button id="start">Start</button>
        <button id="stop">Stop</button>
        <button id="reset">Reset</button>
        <button id="submit" onclick="submit()">Submit</button>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script type="text/javascript" src="/static/timer.js"></script>
    </div>
</div>
{% endblock %}